
// Colors
$background-color: #19242b;
$popup-color: #003356;
$board-color: #5f7e8e;
$button-color: #007CC7;
$information-color: #10456d;
$grey: rgb(187, 184, 202);
$black: rgb(31, 31, 31);
$white: #F3F3F3;

// Other
$edge: 8px;
$sidebar-width: 200px;
$field-size: 80px;
$small-field-size: 60px;



